<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}
    </title>
    {{ partial "head.html" . }}
    {{ with .Keywords }}
    <meta content="{{ delimit . `, ` }}" name="keywords">
    {{ end }}
    {{ if .Description }}
    <meta name="description" property="og:description" content="{{ .Description }}|{{ .Site.Params.Description }}">
    {{ else if .IsPage }}
    <meta name="description" property="og:description"
        content="{{ .Summary | plainify }}|{{ .Site.Params.Description }}">
    {{ else }}
    <meta name="description" property="og:description" content="{{ .Site.Params.Description }}">
    {{ end }}

    <meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
    <!-- favicon & touch-icon -->
    {{ if .Site.Params.UseIcon }}
    <link rel="icon" href="/favicon-64.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="mask-icon" size="any" href="/pinned-icon.svg">
    {{ end }}

    <link rel="stylesheet" href="{{ `css/main.css` | relURL }}">
</head>

<body>
    {{ partial "header.html" . }}
    <section class="card container">
        <p>
            {{ .Param "description" }}
        </p>

        <!-- <div class="hiring">
                    <h3>Are YOU looking for somebody to join your team?</h3>
                    <p>I am a self-taught software engineer with professional experience across the stack, who started programming at 7, and
                        working at 13. I have just finished a Linguistics degree at Cambridge, specializing in NLP where I wrote my
                        dissertation on finetuning LLMs to solve Cryptic Crosswords: <a href="https://www.ungless.net/posts/cryptics-modelling">read here</a>.
                    </p>
                    <p>
                        If you work with language data, or in public services, and are looking for somebody with my background, shoot me an <a href="mailto:max@ungless.net">email</a> and I'd love
                        to chat/show you my CV.
                    </p>
                    <p>
                        I'll be helpful where I can: product engineering, full-stack, data engineering, LLM product help etc.
                    </p>
                </div> -->
    </section>

    {{ block "main" . }}
    {{ end }}

    <footer class="container">
        {{ partial "footer.html" . }}
    </footer>

</body>

</html>
