{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<main class="container">
    <header class="card">
        <div id="post-title">
            <b>{{ .Title }}</b>
            <span>-- {{ .Date.Format "Jan 2, 2006" }}</span>
        </div>  
    </header>
	{{ block "side" . }}
	{{ end }}
    <article class="card">
        <!-- Content -->
        <section>
            {{ .Content }}
        </section>
    </article>
</main>
{{ end }}

{{ define "side" }}
{{ if and (gt .WordCount 0 ) (.Params.toc)  }}
<section class="card">
    <div id="toc" class="Box Box--blue mb-3">
      {{ .TableOfContents }}
    </div>
</section>
{{ end }}
{{ end }}
