{{ define "title" }}
Page not found at {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<section class="card container">
    <h1>404 Page Not Found</h1>
    <p>Is the URL you entered correct?</p>
    <p>Try navigating to the page you wanted manually.</p>
</section>
{{ end }}
