<nav class="card">
	<div>
		<h1><a href="{{ .Site.BaseURL }}">max ungless</a></h1>
		<a href="mailto:max@ungless.net">max@ungless.net</a>
	</div>
    <div id="nav-socials">
        <a href="{{ .Site.BaseURL }}/key.txt">PGP Key</a>
        <a href="https://github.com/ungless/">GitHub</a>
        <a href="https://gitlab.com/ungless/">GitLab</a>
    </div>
</nav>
